/*====== Font ======*/
@charset "utf-8";

@font-face{
  font-family: 'Novecento';
  src: url('../fonts/Synthview - Novecentowide-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Capsuula';
  src: url('../fonts/Capsuula.ttf');
  font-weight: normal;
  font-style: normal;
}

/* ===== General =====*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  background:transparent;
}

p, h1, h2, h3, table, form{
  font-family: 'Capsuula';
}

.border{
  border-left: 1px solid black;
}

/*====== Header & Footer ======*/
header, footer{
  margin: 0;
  padding: 0;
  background-color: #174C5B;
}

header{
  z-index: 1;
  position: fixed;
  width:100%;
  top:0px;
  box-shadow: 0px 1.5px 25px black;
}

.ajusting_flags{
  width: 23%;
}

footer{
}

/*====== Logo ======*/
#items_top img{
  width: 8%;
  height: auto;
  float: left;
  padding: 2.5px;
}

/*====== Menu ======*/
#items_top ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-right: 2px solid black; 
}
#items_top li{
  float: left;
  display: inline;
}
#items_top ul a{
  text-decoration: none;
  display: block;
  font-family:'Novecento';
  color: white;
  padding: 19px;
}
#items_top ul a:hover{
  transition: all 0.6s ease;
  background-color: #15A8A0;
}

#right_side>div{
  position: relative;
  top: 0;
}

#changed{
  position: absolute;
  opacity: 1;
  transition: opacity 0s 0.1s;
}

#changed:hover{
  opacity: 0;
  transition: opacity 0s;
}

#right_side>div img{
  width: 100%;
}
#right_side ul{
  text-align: center;
}
#right_side ul, #choose_language ul{
  list-style-type: none;
}
#right_side li, #choose_language li{
  display: inline;
  padding-left: 5px;
}

#choose_language{
  margin-left:auto;
  margin-right:auto;
  padding-top: 13.5px;
}

.ajusting_image_right{
  width: 8%;
}

/*====== Diffence in Sections ======*/
.dark{
  background-color: #477C8C;
  color: white;
}
.light{
  background-color: #90BAC6;
  color: black;
}

/*====== Container ======*/
.container section{
  padding: 49px;
}
.container section h1{
  font-size: 250%;
  text-align: center;
  border-bottom: 2px solid #174C5B;
  color: #174C5B;
}

.container section p, table{
  font-size: 115%;
}

/*====== Home ======*/
#home{
  margin-top: 57px;
}

#intro h1{
  padding-top: 10px;
  font-size: 225px;
  text-align: center;
}

#intro{
  font-size: 70px;
  text-align: center;
}

#quotes{
  font-size: 40px;
  text-align: center;
}

/*====== About Me ======*/
#about_me p{
  text-align: justify;
}

/*====== Profile ======*/
#profile{
  margin-top: auto;
  margin-bottom: auto;
}

#profile img{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#profile table{
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
}

.tab{
  padding-left: 1.5em;
}
.border{
  padding-left: 5px;
  border-left: 2px solid #174C5B;
}

.button p{
  margin-top: 40px;
}

.button{
  text-align: center;
}

.button a, .button input{
  padding: 10px 20px 10px 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  background-color: #477C8C;
}
.button a:hover, .button input:hover{
  color: #174C5B;
  border: 1px solid #90BAC6;
  text-decoration: none;
  background-color: #90BAC6;
}

.num{
  font-size: 75%;
  padding-left: 0.5em;
}

/*====== Skills ======*/
#skills{
  margin-left: auto;
  margin-right: auto;
}

#skills ul{
  list-style-type: none;
}
#skills li{
  padding: 0px 40px 0px 40px;
  float: left;
  display: inline;
}

#skills img:hover{
  opacity: 0.2;
  background-color: #174C5B;
}

/*====== Contacts =====*/
.contact_form{
  font-size: 125%;
}

.button input[type=submit]{
  font-size: 100%;
  font-family: 'Capsuula'; 
}

.input_box input{
  border: none;
  background-color: #90BAC6;
  width: 250px;
  height: 30px;
  padding: 5px 10px;
  font-family: 'Capsuula';
  font-size: 100%;
}

.textarea_box textarea{
  border: none;
  background-color: #90BAC6;
  width: 700px;
  font-family: 'Capsuula';
  font-size: 100%;
  padding: 5px 10px;
}