/*====== Font ======*/
@charset "utf-8";

@font-face{
  font-family: 'Novecento';
  src: url('../fonts/Synthview - Novecentowide-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Capsuula';
  src: url('../fonts/Capsuula.ttf');
  font-weight: normal;
  font-style: normal;
}

/* ===== General =====*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  background:transparent;
}

p, h1, h2, h3{
  font-family: 'Capsuula';
}

/*====== Header & Footer ======*/
header, footer{
  margin: 0;
  padding: 0;
  background-color: #174C5B;
}

header{
  position: fixed;
  width:100%;
  top:0px;
}

.ajusting_flags{
  width: 23%;
}

footer{
  border-top: 2px solid black;
}

/*====== Logo ======*/
#items_top img{
  width: 8%;
  height: auto;
  float: left;
  padding: 2.5px;
}

/*====== Menu ======*/
#items_top ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-right: 2px solid black; 
}
#items_top li{
  float: left;
  display: inline;
}
#items_top ul a{
  text-decoration: none;
  display: block;
  font-family:'Novecento';
  color: white;
  padding: 19px;
}
#items_top ul a:hover{
  transition: all 0.6s ease;
  background-color: #15A8A0;
}

#right_side>img{
  width: 100%;
}
#right_side ul{
  text-align: center;
}
#right_side ul, #choose_language ul{
  list-style-type: none;
}
#right_side li, #choose_language li{
  display: inline;
  padding-left: 5px;
}

#choose_language{
  margin-left:auto;
  margin-right:auto;
  padding-top: 13.5px;
}

.ajusting_image_right{
  width: 8%;
}

/*====== Diffence in Sections ======*/
.dark{
  background-color: #477C8C;
  color: white;
}
.light{
  background-color: #90BAC6;
  color: black;
}

/*====== Container ======*/
.container section{
  border-top: 2px solid black;
  padding: 49px;
}
.container section h1{
  font-size: 250%;
  text-align: center;
  border-bottom: 2px solid #174C5B;
  color: #174C5B;
}

.container section p{
  font-size: 115%;
}

/*====== Home ======*/
#home{
  margin-top: 57px;
}

#intro{
  padding-top: 10px;
  font-size: 82px;
  text-align: center;
}

#quotes{
  font-size: 50%;
  text-align: center;
}

/*====== About Me ======*/
#about_me p{
  text-align: justify;
}

/*====== Home ======*/
#profile img{
  width: 25%;
}