@charset "utf-8";

@font-face{
  font-family: 'Novecento';
  src: url('../fonts/Synthview - Novecentowide-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Capsuula';
  src: url('../fonts/Capsuula.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
} 

header{
  background-color: black;
}

/* logo */
header img{
  width: 7%;
  height: auto;
  float: left;
  margin: 0;
  padding: 2.5px;
}
/* Menu */
header ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
header li{
  float: left;
  display: inline;
  padding: 22px;
}
header li:hover{
  background-color: rgb(21, 168, 160);
  transition: all 0.6s ease;
}

header a{
  text-decoration: none;
  display: block;
  font-family:'Novecento';
  color: white;
}

#inicial_page{
  background-color: darkgrey;
}

#intro{
  font-family: 'Capsuula';
  font-size: 82px;
}

#intro h1{
  color: rgb(1, 56, 48);
}

#intro p{
  color: rgb(21, 168, 160);
}


#right_side>img{
  width: 100%;
}


footer{
  background-color: black;
}